In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df = pd.read_csv('/content/gdrive/MyDrive/MyLecture/2023/데이터시각화/Pandas패키지/welfare.csv')
df.head()

   gender  birth  marriage  religion  code_job  income  code_religion
0       2   1936         2         2       NaN     NaN              1
1       2   1945         2         2       NaN     NaN              1
2       1   1948         2         2     942.0   120.0              1
3       1   1942         3         1     762.0   200.0              1
4       2   1923         2         1       NaN     NaN              1

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(16664, 7)

In [6]:
df.columns

Index(['gender', 'birth', 'marriage', 'religion', 'code_job', 'income',
       'code_religion'],
      dtype='object')

In [7]:
df.dtypes

gender             int64
birth              int64
marriage           int64
religion           int64
code_job         float64
income           float64
code_religion      int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16664 entries, 0 to 16663
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         16664 non-null  int64
 1   birth          16664 non-null  int64
 2   marriage       16664 non-null  int64
 3   religion       16664 non-null  int64
 4   code_job       7529 non-null   float64
 5   income         4634 non-null   float64
 6   code_religion  16664 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 911.4 KB

In [9]:
gender_df = df['gender']
gender_df.head()

0    2
1    2
2    1
3    1
4    2
Name: gender, dtype: int64

In [10]:
type(gender_df)

pandas.core.series.Series

In [11]:
subset = df[['gender', 'birth', 'marriage']]
type(subset)

pandas.core.frame.DataFrame

In [12]:
subset.head()

   gender  birth  marriage
0       2   1936         2
1       2   1945         2
2       1   1948         2
3       1   1942         3
4       2   1923         2

In [13]:
subset.tail()

       gender  birth  marriage
16659       2   1967         1
16660       2   1992         5
16661       1   1995         5
16662       2   1998         0
16663       1   2001         0

In [14]:
# loc 속성으로 행 단위 데이터 추출
df.loc[0]

gender              2.0
birth            1936.0
marriage            2.0
religion            2.0
code_job            NaN
income              NaN
code_religion       1.0
Name: 0, dtype: float64

In [15]:
df.loc[99]

gender              2.0
birth            1938.0
marriage            1.0
religion            2.0
code_job            NaN
income              NaN
code_religion       1.0
Name: 99, dtype: float64

In [16]:
df.loc[[0, 99, 999]]

     gender  birth  marriage  religion  code_job  income  code_religion
0         2   1936         2         2       NaN     NaN              1
99        2   1938         1         2       NaN     NaN              1
999       1   1955         1         1     510.0   129.0              1

In [17]:
# iloc 속성으로 행 데이터 추출
df.iloc[1]

gender              2.0
birth            1945.0
marriage            2.0
religion            2.0
code_job            NaN
income              NaN
code_religion       1.0
Name: 1, dtype: float64

In [18]:
df.iloc[99]

gender              2.0
birth            1938.0
marriage            1.0
religion            2.0
code_job            NaN
income              NaN
code_religion       1.0
Name: 99, dtype: float64

In [19]:
df.iloc[-1]

gender              1.0
birth            2001.0
marriage            0.0
religion            1.0
code_job            NaN
income              NaN
code_religion       5.0
Name: 16663, dtype: float64

In [20]:
df.iloc[1710]

gender              1.0
birth            2009.0
marriage            0.0
religion            1.0
code_job            NaN
income              NaN
code_religion       2.0
Name: 1710, dtype: float64

In [21]:
df.iloc[[0, 99, 999]]

     gender  birth  marriage  religion  code_job  income  code_religion
0         2   1936         2         2       NaN     NaN              1
99        2   1938         1         2       NaN     NaN              1
999       1   1955         1         1     510.0   129.0              1

In [22]:
# 슬라이싱 구문으로 데이터 추출
subset = df.loc[:, ['marriage', 'income']]
subset.head()

   marriage  income
0         2     NaN
1         2     NaN
2         2   120.0
3         3   200.0
4         2     NaN

In [ ]:
subset = df.iloc[:, [2, 4, -1]]
subset.head()

   marriage  code_job  code_religion
0         2       NaN              1
1         2       NaN              1
2         2     942.0              1
3         3     762.0              1
4         2       NaN              1

In [23]:
# 그룹화한 데이터의 평균 구하기
df.head(n=10)

   gender  birth  marriage  religion  code_job  income  code_religion
0       2   1936         2         2       NaN     NaN              1
1       2   1945         2         2       NaN     NaN              1
2       1   1948         2         2     942.0   120.0              1
3       1   1942         3         1     762.0   200.0              1
4       2   1923         2         1       NaN     NaN              1
5       1   1962         1         1     530.0     NaN              1
6       2   1963         1         1       NaN     NaN              1
7       2   2003         0         1       NaN     NaN              1
8       1   1927         1         1       NaN     NaN              1
9       2   1934         1         1       NaN     NaN              1

In [24]:
df['marriage'].unique()

array([2, 3, 1, 0, 5, 4, 6])

In [25]:
df.groupby('marriage')['code_religion'].mean()

marriage
0    3.655365
1    3.726723
2    4.024563
3    3.648876
4    3.880952
5    3.420058
6    3.653846
Name: code_religion, dtype: float64

In [26]:
mygrouping = df.groupby('marriage')
type(mygrouping)

pandas.core.groupby.generic.DataFrameGroupBy

In [30]:
grp_code_religion = mygrouping['code_religion']
type(grp_code_religion)

pandas.core.groupby.generic.SeriesGroupBy

In [31]:
mean_code_religion = grp_code_religion.mean()
mean_code_religion

marriage
0    3.655365
1    3.726723
2    4.024563
3    3.648876
4    3.880952
5    3.420058
6    3.653846
Name: code_religion, dtype: float64

In [32]:
multi_group_var = df.groupby(['marriage', 'birth'])[['code_religion', 'income']].mean()
multi_group_var

                code_religion  income
marriage birth
0        1997        3.808081     NaN
         1998        3.652850     NaN
         1999        3.626794     NaN
         2000        3.635945     NaN
         2001        3.578947     NaN
...                       ...     ...
6        1946        3.000000     NaN
         1947        4.000000     NaN
         1959        4.000000     NaN
         1960        2.000000     NaN
         1967        7.000000     NaN

[339 rows x 2 columns]

In [33]:
type(multi_group_var)

pandas.core.frame.DataFrame